@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>GetRight Health</h1>
    <p class="lead">Welcome to GetRight, the number 1 Nutrition monitoring website.</p>
    <h2>Getting started</h2>
    <p>To start, please register an account with our service.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dieter</h2>
        <h3>Looking to be Healthy?</h3>
        <p>Sign up as a Dieter to use the nutrition monitoring and personal trainer service.</p>
    </div>
    <div class="col-md-4">
        <h2>Trainer</h2>
        <h3>Want to join our team?</h3>
        <p>Create an account as a personal Trainer to offer your services to new customers.</p>
    </div>
</div>